# Books (Copyrighted material)
public/books/*
!public/books/.gitkeep

# Build and Dependencies
.next
.nova
.env
.env*.local
.env*
!.env.example
.DS_Store
*.DS_Store
yarn.lock
node_modules
dist
analytics.txt
package-lock.json

# Recursive rules (redundant but kept for specific patterns if needed)
**/.DS_Store
**/node_modules
**/.next
**/.data